[tool.poetry]
name = "research_town"
version = "0.0.1"
description = "project for research town"
authors = ["Haofei Yu <yuhaofei44@gmail.com>"]
license = "Apache 2.0 License"
readme = "README.md"


[tool.poetry.dependencies]
python = ">=3.8, <3.12"
huggingface_hub = "0.21.4"
openai = "^1.0.0"
scikit_learn = "1.3.0"
mypy = "^1.8.0"
pydantic = "^1.9.0"
arxiv = "^2.1.0"
faiss-cpu = "^1.8.0"
types-requests = "^2.31.0"
torch = ">=2.1.0 <2.3.0"
transformers = "^4.40.0"
litellm = "^1.0.0"
beartype = "^0.18.5"

[tool.poetry.group.dev.dependencies]
pre-commit = "*"
nbmake = "*"
types-setuptools = "*"

[tool.poetry.group.test.dependencies]
pytest = "*"
pytest-asyncio = "*"


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.mypy]
ignore_missing_imports = true
check_untyped_defs = true
follow_imports = "normal"
strict = true
plugins = ["pydantic.mypy"]

[tool.pytest.ini_options]
testpaths = ["tests"]
python_files = "test_*.py"

[tool.codespell]
ignore-words-list = "dout, te, indicies, astroid"

[tool.isort]
profile = "black"
use_parentheses = true
skip_gitignore = true
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
line_length = 70

[tool.ruff]
line-length = 88
fix = true
target-version = "py310"

[tool.ruff.lint]
select = ["E", "F"]
ignore = ["E203"]

[tool.ruff.format]
quote-style = "single"
indent-style = "tab"
docstring-code-format = true
docstring-code-line-length = 20

[tool.black]
line-length = 88
target-version = ['py310']
exclude = '''
/(
  | \.git
  | \.mypy_cache
)/
'''

[tool.mypy-arxiv]
ignore_missing_imports = true

[tool.mypy-faiss]
ignore_missing_imports = true

[tool.mypy-transformers]
ignore_missing_imports = true

[tool.mypy-litellm]
ignore_missing_imports = true
