param:
  related_paper_num: 10
  base_llm: mistralai/Mixtral-8x7B-Instruct-v0.1
  max_collaborators_num: 3

prompt_template:
  find_collaborators: |
    Given the name and profile of me, could you find {max_number} collaborators for the following collaboration task?
    Here is my profile: {self_serialize_all}
    The collaboration task includes: {task_serialize_all}
    Here are a full list of the names and profiles of potential collaborators: {collaborators_serialize_all}
    Generate the collaborator in a list separated by '-' for each collaborator.
  query_paper: |
    Given the profile of me, keywords, some recent paper titles and abstracts. Could you summarize the keywords of high level research backgrounds and insights in this field (related to my profile if possible).
    Here is my profile biology: {profile_bio}
    Here are the domains: {domains}
  read_paper: |
    Given the profile of me, keywords, some recent paper titles and abstracts. Could you summarize the keywords of high level research backgrounds and insights in this field (related to my profile if possible).
    Here is my profile biology: {profile_bio}
    Here are the research domains: {domains}
    Here are some recent paper titles and abstracts: {papers}
  think_idea: |
    Here is a high-level summarized insight of a research field {insights}. 
    How do you view this field? Do you have any novel ideas or insights? 
    Please give me 3 to 5 novel ideas and insights in bullet points. Each bullet point should be concise, containing 2 or 3 sentences.
  summarize_ideas: |
    Given a list of research ideas, please summarize them by removing duplicates 
    and resolving any contradictory ideas by selecting the more reasonable one. 
    Here are the research ideas:
    {ideas}
  write_paper: |
    Please write a paper based on the following ideas and external data. To save time, you only need to write the abstract. 
    You might use two or more of these ideas if they are related and work well together. 
    Here is the idea: {idea}
    Here are the external data, which is a list of abstracts of related papers: {papers}
  review_score: |
    Please provide a score for the following reviews. The score should be between 1 and 10, where 1 is the lowest and 10 is the highest. Only return one number score.
    Here are the reviews: {paper_review}
  review_paper: |
    Please give some reviews based on the following inputs and external data.
    You might use two or more of these titles if they are related and work well together.
    Here are the external data, which is a list of related papers: {papers}
  write_meta_review: |
    Please make a review decision to decide whether the following submission should be accepted or rejected by an academic conference. Here are several reviews from reviewers for this submission. Please indicate your review decision as accept or reject.
    Here is the submission: {paper}
    Here are the reviews: {reviews}
  write_rebuttal: |
    Please write a rebuttal for the following submission you have made to an academic conference. Here are the reviews and decisions from the reviewers. Your rebuttal should rebut the reviews to convince the reviewers to accept your submission.
    Here is the submission: {paper}
    Here are the reviews: {review}
  discuss: |
    Please continue in a conversation with other fellow researchers for me, where you will address their concerns in a scholarly way. 
    Here are the messages from other researchers: {message}
