@font-face {
  font-family: "Source_Sans";
  src: url(../assets/fonts/Source_Sans_3/SourceSans3-VariableFont_wght.ttf);
}

body {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 12.5%;
  margin-right: 12.5%;
  font-family: 'Source_Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Courier New';
}
