name: Pytest

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

concurrency:
  group: mypy-pytest-${{ github.ref }}
  cancel-in-progress: true

jobs:
  Pytest:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 5
      matrix:
        python-version: ["3.10"]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        curl -sSL https://install.python-poetry.org | python3
        poetry install --all-extras
    - name: Test with pytest
      env: # Or as an environment variable
        OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
        HF_TOKEN: ${{ secrets.HF_TOKEN }}
        TOGETHER_API_KEY: ${{ secrets.TOGETHER_API_KEY }}
      run: |
        poetry run pytest
